.appContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
  flex-grow: 1;
  background-color: #fefefe;
  z-index: 1;

  .sideMenuContainer,
  .topBarAndRoutesContainer {
    display: flex;
    justify-content: center;
    height: auto;
  };

  .sideMenuContainer {
    width: 18%;
  }

  .topBarAndRoutesContainer {
    display: flex;
    width: 82%;
    height: 100%;
    justify-content: flex-start;
    flex-flow: column nowrap;
    position: relative;
  }
}
