.appContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  background-color: #fefefe;
  overflow: hidden;

  .sideMenuContainer,
  .topBarAndRoutesContainer {
    display: flex;
    justify-content: center;
  };

  .sideMenuContainer {
    width: 18%;
    height: 100%;
    overflow-y: auto;
  }

  .topBarAndRoutesContainer {
    height: 100vh;
    width: 82%;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
    overflow-y: auto;
  }
}
